

/* Media Queries */
@media (max-width: 576px) {
    #lg-phone {display: none;}
    #tablet-dev {display: none;}
    #comp-dev {display: none;}
}

@media (min-width: 768px) {
    #sm-phone {display: none;}
    #tablet-dev {display: none;}
    #comp-dev {display: none;}
}

@media (min-width: 992px) {
    #sm-phone {display: none;}
    #lg-phone {display: none;}
    #comp-dev {display: none;}
}

@media (min-width: 1200px) {
    #sm-phone {display: none;}
    #lg-phone {display: none;}
    #tablet-dev {display: none;}
}

/* CSS Animation */

#profile_icon {
    animation-name: spinny;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinny {
    from {
        transform: rotate(0deg);
    }    
    to {transform: rotate(360deg);
    }
}

/*  */