

/* Media Queries */

@media (min-width: 768px) and (max-width: 991px) {
    #sm-phone {display: none;};
    #lg-phone {display: block !important;} 

}

@media (min-width: 992px) and (max-width: 1199px) {
    #sm-phone {display: none;};
    #tablet-dev {display: block !important;}
}

@media (min-width: 1200px) {
    #sm-phone {display: none;};
    #comp-dev {display: block !important;}
}

/* CSS Animation */

#profile_icon {
    animation-name: spinny;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinny {
    from {
        transform: rotate(0deg);
    }    
    to {transform: rotate(360deg);
    }
}

/*  */